<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tại sao bạn nên đến Măng Đen?</h2>
                <hr class="light">
                <p class="text-faded">Măng Đen một vùng đất thiêng liêng của Tây Nguyên, nơi sinh sống của những đồng bào dân tộc thiểu số với nhiều nét đặc trưng văn hóa riêng biệt. Một khi bạn bước chân vào đây, bạn sẽ bị mê hoặc bởi cảnh sắc hoang sơ và tràn đầy sức sống của vùng đất này.</p>
                <p class="text-faded">Một khu vực biệt lập được bao phủ bởi những dãy núi trùng điệp và rừng nguyên sinh với đa dạng hệ sinh thái và động thực vật phong phú. </p>
                <p class="text-faded">Hãy đến Măng Đen và tận hưởng một chuyến đi khám phá đầy thú vị, để thấy được sức hút và tinh hoa của văn hóa và thiên nhiên Tây Nguyên. Cùng trải nghiệm những món ăn đặc sản, tham gia vào những hoạt động vui chơi giải trí và tận hưởng sự yên tĩnh và thanh bình của vùng đất này.</p>
                <a href="tel:0348863483" class="btn btn-default btn-xl">Đặt phòng ngay!</a>
            </div>
        </div>
    </div>
</section>
