<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hillside retreat - Chào mừng đến với Măng Đen</h1>
            <hr>
            <p>Tọa lạc tại vị trí cao 1200m so với mực nước biển, bao phủ xung quanh bởi khu rừng nguyên sinh Tây Nguyên. 
                Đây sẽ là điểm đến tuyệt vời cho các bạn muốn trải nghiệm vẻ đẹp thiên nhiên hoang sơ, đồng thời là nơi để tìm lại bình yên và sức khỏe trong cuộc sống. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Tìm hiểu thêm</a>
        </div>
    </div>
</header>
